@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Gilroy";

  src: local("Gilroy Light"),
  local("Gilroy-Light"),
  url("../fonts/gilroylight.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 800;
  font-family: "Gilroy";

  src: local("Gilroy Extra Bold"),
  local("Gilroy-ExtraBold"),
  url("../fonts/gilroyextrabold.woff2") format("woff2");
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  padding-top: 40px;

  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: rgb(0, 0, 0);

  background-color: rgb(255, 255, 255);
}

main {
  overflow-x: hidden;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
}

.button {
  position: relative;
  z-index: 2;

  display: inline-block;

  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  letter-spacing: 3.66px;

  background-color: transparent;
  border: none;
}

.button:before {
  content: "";
  position: absolute;
  top: 8px;
  z-index: -1;

  height: 8px;

  background-color: rgb(240, 197, 46);
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-header-logo {
  display: block;
  width: 163px;
  height: 35px;
  margin-top: -20px;
  margin-bottom: 27px;
}

.main-navigation-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.main-navigation {
  position: relative;

  padding-top: 1px;
  padding-right: 61px;
  padding-bottom: 1px;
  padding-left: 60px;

  background-color: rgba(240, 197, 46, 0.5);
}

.main-navigation ul {
  list-style: none;
}

.main-navigation a {
  color: rgb(0, 0, 0);
}

.catalog-page .main-header {
  margin-bottom: 44px;
}

.user-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 520px;
  margin: 0;
  padding: 0;
}

.user-info {
  width: 240px;
  margin-left: 17px;
}

.user-navigation-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 222px;
}

.user-navigation-wrapper li:last-child {
  margin-right: -1px;
}

.user-navigation a {
  padding-left: 30px;
}

.user-info-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 248px;
}

.user-info {
  width: 170px;
}

.logout {
  width: 50px;
}

.footer-info-wrapper .logout {
  margin-left: 21px;
}

.logout .logout-link {
  padding: 0;

  opacity: 0.3;
}

.user-info,
.compare,
.cart {
  position: relative;
}

.login-link::before,
.compare::before,
.cart::before {
  content: "";
  position: absolute;

  width: 14px;
  height: 14px;

  background-repeat: no-repeat;
  background-position: 0 0;
}

.login-link::before {
  top: 9px;
  left: 4px;

  background-image: url(../img/user.svg);
}

.compare::before {
  top: 6px;
  left: 10px;

  background-image: url(../img/compare.svg);
}

.cart::before {
  top: 4px;
  left: 7px;

  background-image: url(../img/cart.svg);
}

.site-navigation {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 39px;
  padding: 0;
}

.site-navigation ul {
  padding-left: 0;
}

.site-navigation > li:hover .catalog-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site-navigation-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 500px;
}

.site-navigation-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 273px;
}

.site-navigation-contacts {
  width: 220px;
  margin-right: -3px;

  text-align: right;
}

.site-navigation .site-navigation-catalog:hover {
  color: rgba(0, 0, 0, 0.6);

  opacity: 1;
}

.site-navigation .site-navigation-catalog:active {
  color: rgba(0, 0, 0, 0.3);

  opacity: 1;
}

.site-navigation-catalog {
  position: relative;

  width: 250px;
  margin-left: -1px;
}

.site-navigation-catalog::after {
  content: "";
  position: absolute;
  top: 4px;
  right: -32px;

  width: 20px;
  height: 20px;

  background-image: url(../img/plus.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.catalog-page .site-navigation {
  margin-bottom: 46px;
}

.search {
  position: relative;

  width: 440px;
  margin-top: -6px;
  margin-bottom: 26px;
  margin-left: 1px;
}

.search,
.user-navigation {
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.15px;
}

.user-navigation ul {
  margin: 0;
  padding: 0;
}

.search-field {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 356px;
  height: 46px;
  padding-left: 38px;

  background-color: rgb(248, 226, 150);
  border: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0);;
}

.search::before {
  content: "";
  position: absolute;
  top: 14px;
  left: 2px;

  width: 20px;
  height: 20px;

  background-image: url(../img/search.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.search-field::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search-field:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search-field::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search-field::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search-field:hover::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-field:hover:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-field:hover::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-field:hover::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-field:focus {
  color: rgb(0, 0, 0);

  border-bottom: 2px solid #000000;
  outline: none;
}

.site-navigation > li > a,
.site-navigation-wrapper a {
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}

.catalog-menu {
  position: absolute;
  top: 28px;
  left: -60px;
  z-index: 2;

  display: none;
  width: 1100px;
  height: 139px;
  padding-top: 23px;
  padding-left: 60px;

  background-color: rgb(248, 226, 150);
}

.catalog-menu ul {
  width: 200px;
  padding: 0;
}

.catalog-menu li {
  margin-bottom: 6px;
}

.catalog-menu ul:first-child {
  margin-right: 40px;
}

.search-button {
  position: absolute;
  top: -3px;
  left: 356px;

  margin-left: auto;
  padding: 7px 19px 8px 19px;

  font: inherit;
  color: transparent;

  background-color: rgb(248, 226, 150);
  border: 2px solid transparent;
}

.search-field:focus + .search-button {
  color: rgb(0, 0, 0);

  border: 2px solid rgb(0, 0, 0);
}

.search .search-button:hover {
  color: rgb(255, 255, 255);

  background-color: rgb(0, 0, 0);
}

.search .search-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.main-navigation a:hover,
.main-navigation a:hover::before,
.main-footer a:hover {
  opacity: 0.6;
}

.main-navigation a:active,
.main-footer a:active {
  opacity: 0.3;
}

.slider {
  position: relative;
}

.slider-item {
  position: relative;

  display: none;
  min-height: 570px;
  margin-bottom: 31px;

  list-style: none;
}

.slider-controls,
.slider input {
  position: absolute;
  top: 332px;
  right: 100px;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 84px;
  height: 20px;
}

.slider-controls-item {
  position: relative;
  z-index: 100;

  width: 18px;
  height: 18px;

  background-color: white;
  cursor: pointer;
}

.slider-controls-item::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 10px;
  height: 10px;

  border: 1px solid black;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.slider-controls-item::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 2px;

  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#product-1:checked ~ .slider-controls .slider-controls-item--1::after,
#product-2:checked ~ .slider-controls .slider-controls-item--2::after,
#product-3:checked ~ .slider-controls .slider-controls-item--3::after {
  border: 1px solid black;
}

#product-1:checked ~ .slider-list .slider-item:nth-child(1),
#product-2:checked ~ .slider-list .slider-item:nth-child(2),
#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
  display: block;
}

.slider-button {
  margin-bottom: 58px;
  margin-left: 43px;
}

.slider-button::before {
  right: -40px;
  left: -43px;
}

.slider-list {
  position: relative;

  margin: 0;
  padding: 0;
}

.slider-item:nth-child(1) {
  background-image: url(../img/slider-1.png);
  background-repeat: no-repeat;
  background-position: 90px 9px;
}

.slider-item:nth-child(2) {
  background-image: url(../img/slider-2.png);
  background-repeat: no-repeat;
  background-position: 116px 21px;
}

.slider-item:nth-child(3) {
  background-image: url(../img/slider-3.png);
  background-repeat: no-repeat;
  background-position: 31px 74px;
}

.slider-item::before {
  content: "";
  position: absolute;
  z-index: -1;

  width: 100%;
  height: 120px;

  background-color: rgb(248, 226, 150);;
}


.slider-wrapper {
  width: 560px;
  margin-left: auto;

  list-style: none;
}

.slider-title {
  position: relative;

  margin: 0;
  padding-top: 88px;

  font-weight: 800;
  font-size: 47px;
  line-height: 56px;
  font-family: "Gilroy", "Arial", sans-serif;
  letter-spacing: 0.6px;
}

.slider-item:nth-child(1) .slider-title {
  width: 401px;
}

.slider-item:nth-child(2) .slider-title {
  width: 260px;
}

.slider-title::before {
  content: "";
  position: absolute;
  top: 46px;

  width: 100px;
  height: 7px;

  background-color: rgb(255, 255, 255);
}

.slider-title::after {
  content: "";
  position: absolute;
  top: -6px;
  left: 304px;
  z-index: -1;

  font-weight: 800;
  font-size: 179px;
  line-height: 179.2px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: rgb(255, 255, 255);
  letter-spacing: 3.36px;
}

.slider-item:nth-child(1) .slider-title::after {
  content: "01";
  left: 329px;

  letter-spacing: 1.36px;
}

.slider-item:nth-child(2) .slider-title::after {
  content: "02";
}

.slider-item:nth-child(3) .slider-title::after {
  content: "03";
  left: 302px;
}

.slider-content {
  margin-top: 18px;
  margin-bottom: 49px;

  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  color: rgb(70, 70, 70);
  letter-spacing: 0.15px;
}

.slider-item:nth-child(1) .slider-content {
  width: 495px;
}

.slider-item:nth-child(2) .slider-content {
  width: 460px;
}

.slider-item:nth-child(3) .slider-content {
  width: 480px;
}

.advantage-list {
  display: flex;
  justify-content: space-between;
  width: 458px;
  margin: 0;
  padding: 0;
}

.slider-item:nth-child(3) .advantage-list {
  width: 300px;
}

.advantage-item {
  display: flex;
  flex-direction: column;
  width: 160px;

  list-style: none;
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
  color: rgb(70, 70, 70);
  letter-spacing: 0.13px;
}

.advantage-item:nth-child(2) {
  width: 140px;
}

.advantage-item span {
  order: -1;
  margin-bottom: 7px;

  font-weight: 400;
  font-size: 36px;
  line-height: 48px;
  font-family: "Gilroy", "Arial", sans-serif;
  letter-spacing: 0.36px;
}

.popular {
  margin-bottom: 50px;
}

.popular ul,
.services ul,
.companies ul {
  list-style: none;
}

.popular-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.popular-item {
  width: 160px;
  min-height: 260px;
}

.popular-link {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: rgb(0, 0, 0);
  letter-spacing: 0.18px;
}

.popular-link::before {
  content: "";

  width: 160px;
  height: 160px;
  margin-bottom: 33px;

  background-color: rgba(240, 197, 46, 0.5);
  background-repeat: no-repeat;
}

.popular-link::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;

  background-color: rgb(240, 197, 46);
  opacity: 0.7;
}

.popular-link:hover::before {
  background-color: rgb(240, 197, 46);
}

.popular-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.popular-link:active::after {
  width: 160px;
  height: 160px;
}

.popular-item--1 .popular-link::before {
  background-image: url(../img/popular-1.svg);
  background-position: 31px 52px;
}

.popular-item--2 .popular-link::before {
  background-image: url(../img/popular-2.svg);
  background-position: 38px 41px;
}

.popular-item--3 .popular-link::before {
  background-image: url(../img/popular-3.svg);
  background-position: 49px 38px;
}

.popular-item--4 .popular-link::before {
  background-image: url(../img/popular-4.svg);
  background-position: 28px 50px;
}

.popular-item--5 .popular-link::before {
  background-image: url(../img/popular-5.svg);
  background-position: 55px 32px;
}

.popular-item--6 .popular-link::before {
  background-image: url(../img/popular-6.svg);
  background-position: 13px 49px;
}

.tab-controls {
  position: relative;

  width: 161px;
  margin-right: 240px;
  padding-top: 15px;

  text-align: center;
}

.tab-controls::after {
  content: "";
  position: absolute;
  top: -73px;
  left: 277px;

  width: 7px;
  height: 319px;

  background-color: rgb(0, 0, 0);
}

label[for="services-2"] {
  margin-bottom: 41px;
}

.services-button {
  display: block;
  margin-bottom: 40px;
}

.services-button::before {
  right: 1px;
  left: 0;
}

.services::before {
  content: "";
  position: absolute;
  top: 112px;
  right: -50vw;
  left: -50vw;

  height: 288px;

  background-color: rgb(229, 229, 229);
}


.services {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 330px;
  margin-bottom: 79px;
  padding-top: 85px;
}

.services-item {
  display: none;
  padding: 50px 0;
}

#services-1:checked ~ .services-list .services-item:nth-child(1),
#services-2:checked ~ .services-list .services-item:nth-child(2),
#services-3:checked ~ .services-list .services-item:nth-child(3) {
  display: block;
}

#services-1:checked ~ .tab-controls label[for="services-1"]::before,
#services-2:checked ~ .tab-controls label[for="services-2"]::before,
#services-3:checked ~ .tab-controls label[for="services-3"]::before {
  top: -10px;
  right: -120px;

  height: 40px;

  background-color: rgb(0, 0, 0);
}

#services-1:checked ~ .tab-controls label[for="services-1"],
#services-2:checked ~ .tab-controls label[for="services-2"],
#services-3:checked ~ .tab-controls label[for="services-3"] {
  color: rgb(247, 225, 132);
}

.services-item:nth-child(1) {
  background-image: url(../img/delivery.svg);
  background-repeat: no-repeat;
  background-position: 557px 62px;
}

.services-item:nth-child(2) {
  background-image: url(../img/warranty.svg);
  background-repeat: no-repeat;
  background-position: 542px 38px;
}

.services-item:nth-child(3) {
  background-image: url(../img/credit.svg);
  background-repeat: no-repeat;
  background-position: 533px 38px;
}

.services-content {
  width: 455px;
  margin-top: 31px;

  color: rgb(70, 70, 70);
  letter-spacing: 0.25px;
}

.services-item:nth-child(3) .services-content {
  width: 435px;
}

.services-list {
  position: relative;

  width: 750px;
  margin: 0;
  margin-top: -50px;
  padding: 0;
}

.services-list h3 {
  margin: 0;

  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: rgb(0, 0, 0);
  letter-spacing: 1px;
}

.companies {
  margin-bottom: 90px;
}

.companies-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.companies-list a {
  position: relative;

  display: block;
  width: 260px;
  height: 100px;
}

.companies-list a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;

  width: 260px;
  height: 160px;

  background-color: rgb(255, 255, 255);
  background-repeat: no-repeat;
  opacity: 1;
}

.companies-list a:hover::after {
  opacity: 0;
}

.companies-list-item--1::after {
  background-image: url(../img/logo-1-grey.png);
}

.companies-list-item--2::after {
  background-image: url(../img/logo-2-grey.png);
}

.companies-list-item--3::after {
  background-image: url(../img/logo-3-grey.png);
}

.companies-list-item--4::after {
  background-image: url(../img/logo-4-grey.png);
}

.deliveries {
  margin: 0;
  margin-top: 66px;
  margin-bottom: 59px;
  padding-left: 35px;

  list-style: none;
  font-weight: 800;
  font-size: 16px;
  line-height: 40px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: rgb(0, 0, 0);
}

.deliveries li {
  position: relative;
}

.deliveries li::before {
  content: "";
  position: absolute;
  top: 16px;
  left: -35px;

  width: 4px;
  height: 4px;

  border: 2px solid rgb(229, 229, 229);
  border-radius: 50%;
}

.info-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 87px;
}

.info-columns p {
  margin: 0;
}

.info-columns h2 {
  margin: 0;
  margin-bottom: 43px;

  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  font-family: "Gilroy", "Arial", sans-serif;
  letter-spacing: 0.71px;
}

.about-us {
  width: 465px;
  padding-top: 55px;
}

.about-us p {
  margin-bottom: 30px;
}

.about-us h2 {
  margin-left: -2px;
}

.about-us p:nth-of-type(1) {
  margin-top: 0;

  letter-spacing: 0.11px;
}

.about-us p:nth-of-type(2) {
  letter-spacing: -0.19px;
}

.about-us-title,
.contacts-title {
  position: relative;
}

.about-us-title::before,
.contacts-title::before {
  content: "";
  position: absolute;
  top: -52px;
  left: 2px;

  width: 80px;
  height: 7px;

  background-color: rgb(0, 0, 0);
}

.about-us .button {
  margin-left: 22px;
}

.about-us .button::before {
  right: -19px;
  left: -22px;;
}

.contacts {
  width: 563px;
  padding-top: 55px;
}

.contacts .button {
  margin-left: 43px;
}

.contacts .button::before {
  right: -37px;
  left: -40px;
}

.contacts-title::before {
  left: 3px;
}

.contacts p {
  margin-bottom: 39px;

  letter-spacing: 0.11px;
}

.contacts img {
  margin-bottom: 26px;
  margin-left: 3px;
}

.main-footer {
  width: 100%;
  padding-top: 65px;
  padding-bottom: 1px;

  color: rgb(255, 255, 255);

  background-color: rgb(70, 70, 70);
}

.footer-logo {
  display: block;
  width: 163px;
  height: 35px;
}

.footer-contacts {
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
}

.footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 15px;
}

.footer-middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 26px;
}

.adress {
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1;
  width: 220px;
}

.phone {
  width: 217px;

  text-align: right;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 140px;
  margin: 0;
  padding: 0;
}

.footer-social a {
  display: block;
  width: 32px;
  height: 32px;
  padding-top: 6px;

  background-repeat: no-repeat;
  background-position: center;
}

.social-fb {
  background-image: url(../img/fb.svg);
}

.social-instagram {
  background-image: url(../img/instagram.svg);
}

.social-twiter {
  background-image: url(../img/twitter.svg);
}

.footer-copyright a {
  display: inline-block;
  width: 27px;
  height: 35px;
}

.footer-copyright {
  width: 80px;
  margin-top: 21px;

  text-align: right;
}

.footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 43px;
}

.footer-bottom::before {
  content: "";

  width: 80px;
  height: 7px;

  background-color: rgb(255, 198, 0);
}

.site-footer-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 427px;
  margin: 0;
  padding: 0;

  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  letter-spacing: 3.6px;
}

.site-footer-navigation li {
  margin-top: 5px;
}

.user-footer-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 488px;
  margin: 0;
  padding: 0;
  padding-top: 2px;
}



.user-footer-navigation ul {
  padding-left: 0;
}

.footer-info-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  width: 240px;
  margin-left: -1px;
}

.footer-info-wrapper li:last-child {
  width: 50px;
}

.footer-navigation-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 221px;
  margin-right: 2px;
}

.footer-navigation-wrapper li:last-child {
  width: 58px;
}

.user-footer-navigation li {
  margin-top: -2px;
  padding-left: 30px;
}

.footer-info-wrapper .logout {
  padding-left: 0;
}

.user-footer-navigation > li {
  padding-left: 0;
}

.user-footer-navigation a {
  position: relative;
}

.footer-login::before {
  content: "";
  position: absolute;
  top: 3px;
  left: -27px;

  width: 14px;
  height: 14px;

  background-color: rgb(70, 70, 70);
  background-image: url(../img/user-footer.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.footer-compare::before {
  content: "";
  position: absolute;
  top: 4px;
  left: -21px;

  width: 14px;
  height: 14px;

  background-color: rgb(70, 70, 70);
  background-image: url(../img/compare-footer.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.footer-cart::before {
  content: "";
  position: absolute;
  top: 3px;
  left: -23px;

  width: 14px;
  height: 14px;

  background-color: rgb(70, 70, 70);
  background-image: url(../img/cart-footer.svg);
  background-repeat: no-repeat;
  background-position: center;
}


.main-footer ul {
  list-style: none;
}

.site-footer-navigation a {
  font-size: 18px;
  line-height: 24px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  letter-spacing: 3.6px;
}

.user-footer-navigation a,
.footer-social a {
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  color: rgb(255, 255, 255);
  letter-spacing: 0.15px;

  opacity: 0.7;
}

.user-footer-naviegation a:hover {
  color: rgb(255, 255, 255);

  opacity: 1;
}

.user-footer-navigation a:active {
  color: rgb(255, 255, 255);

  opacity: 0.3;
}

.footer-social a {
  opacity: 0.3;
}

.footer-social a:hover {
  opacity: 0.6;
}

.footer-social a:active {
  opacity: 0.1;
}

main h1 {
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.17px;
}

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-top: 0;
  margin-bottom: 46px;
  padding-left: 58px;

  list-style: none;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
  letter-spacing: 0.14px;
}

.breadcrumbs li:not(:last-child) {
  position: relative;

  margin-right: 38px;
}

.breadcrumbs li:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 9px;

  width: 4px;
  height: 7px;

  background-image: url(../img/nav-arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.breadcrumbs-catalog::after {
  right: -22px;
}

.breadcrumbs-main::after {
  right: -20px;
}

.breadcrumbs a {
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active {
  color: rgba(0, 0, 0, 0.1);
}

.central-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 780px;
  margin: 0;
  padding: 0;
  padding-left: 72px;
}

.products li {
  margin-right: 40px;
}

.products li:nth-child(2n) {
  margin-right: 0;
}

.products li:nth-child(1),
.products li:nth-child(2) {
  margin-bottom: 45px;
}

.filters {
  position: relative;

  width: 328px;

  background-color: rgb(239, 239, 239);
}

.filters::before {
  content: "";
  position: absolute;
  top: 0;
  right: 100%;
  bottom: 0;
  left: -50vw;

  background-color: rgb(239, 239, 239);
}

.filters h2,
.sort h2 {
  margin: 0;

  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  text-transform: uppercase;
}

.filters fieldset {
  border: none;
}

.filters legend {
  position: relative;

  margin-left: 7px;

  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  letter-spacing: 0.18px;
}

.filters legend::before {
  content: "";
  position: absolute;
  top: -12px;
  left: 1px;

  width: 201px;
  height: 2px;

  background-color: black;
}

.filters label {
  line-height: 40px;
}

.filters ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

input[type="checkbox"]:hover,
input[type="radio"]:hover {
  opacity: 0.6;
}

input[type="checkbox"]:disabled,
input[type="radio"]:disabled {
  color: rgb(166, 166, 166);
}

.sort ul,
.catalog ul,
.pagination-list {
  list-style: none;
}

.sort a {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  letter-spacing: 0.2px;
}

.sort a:hover,
.sort a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.sort a:active {
  color: rgb(0, 0, 0);
}

.catalog h3 {
  width: 260px;
  margin: 0;
  padding: 0;

  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: rgb(0, 0, 0);
  letter-spacing: 0.18px;
}

.product-price {
  width: 80px;
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  text-align: right;
  color: rgb(70, 70, 70);
  letter-spacing: 0.16px;
}

.pagination-list a {
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  letter-spacing: 3.6px;
}

.catalog-page h1 {
  margin-top: 0;
  margin-bottom: 24px;
  margin-left: 59px;

  font-family: "Gilroy", "Arial", sans-serif;
  letter-spacing: 0.6px;
}

.catalog-page .main-navigation::after {
  z-index: -5;
}

.catalog-page .main-header-logo {
  margin-top: -17px;
  margin-bottom: 24px;
}

.catalog-page .main-header {
  margin-bottom: 37px;
}
.catalog-columns-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.left-column,
.right-column {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.left-column {
  background-color: rgb(238, 238, 238);
}

.central-column.container {
  padding-right: 0;
  padding-left: 0;
}

.filter-option {
  margin-bottom: 35px;
}

.filter-option legend {
  margin-bottom: 12px;
}

.bluetooth legend {
  margin-bottom: 11px;
}

.bluetooth {
  margin-bottom: 28px;
}

.filters .button {
  margin-left: 55px;
}

.filters .button::before {
  top: 9px;
  right: -32px;
  left: -35px;
}

.button:hover::before,
.button:focus::before {
  top: -10px;

  height: 40px;
}

.filter-option label {
  position: relative;

  display: block;
  margin-left: 45px;

  cursor: pointer;

  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.input-checkbox + label::before {
  content: "";
  position: absolute;
  top: 9px;
  left: -39px;

  width: 23px;
  height: 23px;

  background-color: rgb(238, 238, 238);
  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.input-checkbox:checked + label::before {
  width: 27px;

  background-image: url(../img/checkbox-on.svg);
}

.input-checkbox + label:hover::before,
.radio-checkbox + label:hover::before,
.input-checkbox:focus + label::before,
.radio-checkbox:focus + label::before {
  opacity: 0.6;
}

.input-checkbox:disabled + label,
.input-checkbox:disabled + label::before,
.radio-checkbox:disabled + label,
.radio-checkbox:disabled + label::before {
  opacity: 0.25;
}


.input-checkbox + label:active::before,
.radio-checkbox + label:active::before {
  opacity: 1;
}

.radio-checkbox + label::before {
  content: "";
  position: absolute;
  top: 4px;
  left: -41px;

  width: 30px;
  height: 30px;

  background-color: rgb(238, 238, 238);
  background-image: url(../img/radio-off.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.radio-checkbox:checked + label::before {
  background-image: url(../img/radio-on.svg);
}

.products-item {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  width: 360px;
}

.sort {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 70px;
  padding-top: 18px;
  padding-bottom: 22px;

  background-color: rgb(235, 235, 235);
}

.sort::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 100%;

  width: 50vw;

  background-color: rgb(235, 235, 235);
}

.filter {
  padding-left: 38px;
}

.sort h2 {
  width: 162px;
  margin: 0;
  margin-top: 5px;
  margin-left: 72px;

  letter-spacing: 3.6px;
}

.filters h2 {
  position: relative;

  margin-bottom: 81px;
  padding-top: 23px;
  padding-bottom: 23px;
  padding-left: 60px;

  letter-spacing: 3.6px;

  background-color: rgb(219, 219, 219);
}

.filters h2::before {
  content: "";
  position: absolute;
  top: 0;
  right: 100%;
  bottom: 0;
  left: -50vw;

  background-color: rgb(219, 219, 219);
}

.sort ul {
  margin: 0;
  padding: 0;
}

.sort-type-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  width: 470px;
}

.sort-type-list li {
  margin-right: 30px;
}

.sort-range-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 50px;
}

.left-column div {
  min-height: 70px;

  background-color: rgb(219, 219, 219);
}

.right-column div {
  min-height: 70px;

  background-color: rgb(235, 235, 235);
}

.catalog {
  width: 832px;
}

.ascending,
.descending {
  position: relative;
}

.ascending::before,
.descending::before {
  content: "";
  position: absolute;

  width: 11px;
  height: 10px;

  background-repeat: no-repeat;
  background-position: center;
}

.ascending::before {
  top: 12px;
  left: 9px;

  background-image: url(../img/icon-up-dir.svg);
  opacity: 0.2;
}


.descending::before {
  top: 12px;
  left: 39px;

  background-image: url(../img/icon-down-dir.svg);
  opacity: 0.2;
}

.ascending:hover::before,
.descending:hover::before,
.ascending:focus::before,
.descending:focus::before {
  opacity: 0.4;
}

.ascending:active::before,
.descending:active::before {
  opacity: 1;
}

.sort-type-list .sort-type-current {
  color: rgb(0, 0, 0);
}

.sort-range-current::before {
  opacity: 1;
}

.item-photo {
  width: 360px;
  height: 380px;
  margin-bottom: 32px;
}

.product-new::before {
  content: "NEW";
  position: absolute;
  top: 29px;
  right: 27px;

  box-sizing: border-box;
  width: 60px;
  height: 60px;
  padding-top: 17px;
  padding-left: 4px;

  font-weight: 800;
  font-size: 14px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  text-align: center;
  color: rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  letter-spacing: 0.55px;
  /* background-color: rgb(205, 57, 68, 0.1); */

  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.item-new span {
  position: absolute;
  top: 16px;
  left: 13px;
}

.item-cover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  width: 360px;
  height: 379px;
  margin: 0;

  background-color: rgba(238, 238, 238, 0.7);
  cursor: pointer;
}

.products-item .button {
  position: absolute;
  top: 179px;
  left: 117px;
}

.products-item .button::before {
  right: -36px;
  left: -36px;
}


.item-photo:hover + .item-cover,
.item-photo:focus + .item-cover {
  z-index: 1;
}

.item-cover:hover {
  z-index: 1;
}

.item-compare {
  position: absolute;
  top: 217px;
  left: 109px;

  font-size: 13px;
  line-height: 36px;
  color: rgba(0, 0, 0, 0.5);
  letter-spacing: 0.13px;
}

.item-compare:hover {
  color: rgb(0, 0, 0);
}

.item-compare:active {
  color: rgb(0, 0, 0, 0.2);
}

.price-controls {
  width: 200px;
  margin-left: 8px;
}

.price-controls label {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: rgba(0, 0, 0, 0.2);
}

.price-controls input {
  width: 68px;
  margin-bottom: 35px;

  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: rgba(0, 0, 0, 0.2);

  background: rgb(238, 238, 238);
  border: none;
}

.scale {
  width: 196px;
  height: 2px;
  margin-bottom: 5px;
  margin-left: 13px;

  background-color: rgb(219, 219, 219);
}

.bar {
  width: 56%;
  height: 2px;

  background-color: rgb(145, 201, 47);
}

.filter-range {
  position: relative;
}

.filter-range legend {
  margin-bottom: 30px;
}

.range-toggle {
  position: absolute;
  top: 49px;

  width: 4px;
  height: 4px;

  background: rgb(171, 171, 171);
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgb(218, 218, 218);
          box-shadow: 0 2px 1px 0 rgb(218, 218, 218);
}

.range-toggle-min {
  left: 14px;
}

.range-toggle-max {
  left: 127px;
}

.range-toggle:active {
  border-width: 9px;
  -webkit-transform: translate(-1px, -1px);
      -ms-transform: translate(-1px, -1px);
          transform: translate(-1px, -1px);
}

.pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 760px;
  margin: 0;
  margin-top: 35px;
  margin-bottom: 77px;
  margin-left: 72px;
  padding: 0;

  background-color: rgb(235, 235, 235);
}

.pagination-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 400px;
  margin-left: 16px;
  padding-top: 21px;
  padding-left: 0;
}

.pagination-wrapper li:not(:first-child) {
  margin-left: 27px;
}

.pagination-wrapper a {
  color: rgba(0, 0, 0, 0.3);
}

.pagination-current a {
  color: rgb(0, 0, 0);
}

.pagination-wrapper a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.pagination-wrapper a:active {
  color: rgb(0, 0, 0);
}

.prev a {
  display: block;
  padding-top: 24px;
  padding-right: 26px;
  padding-bottom: 22px;
  padding-left: 29px;

  background-color: rgb(235, 235, 235);
}

.next a {
  display: block;
  padding-top: 24px;
  padding-right: 26px;
  padding-bottom: 22px;
  padding-left: 32px;

  background-color: rgb(235, 235, 235);
}

.prev a:hover,
.next a:hover {
  background-color: rgb(216, 216, 216);
}

.prev a:active,
.next a:active {
  color: rgba(0, 0, 0, 0.3);

  background-color: rgb(216, 216, 216);
}

.modal-map {
  position: fixed;
  top: 50%;
  right: 50%;
  z-index: 500;

  width: 960px;
  height: 559px;

  background-color: rgb(255, 255, 255);
  background-image: url(../img/map-big.jpg);
  background-repeat: no-repeat;
  background-position: -15px -6px;
  -webkit-box-shadow: 0 10px 20px rgba(4, 6, 6, 0.2);
          box-shadow: 0 10px 20px rgba(4, 6, 6, 0.2);
  -webkit-transform: translate(50%, -50%);
      -ms-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

.modal-contact {
  position: fixed;
  top: 50%;
  right: 50%;
  z-index: 500;

  width: 760px;
  padding-top: 94px;
  padding-right: 100px;
  padding-bottom: 83px;
  padding-left: 100px;

  background-color: rgb(255, 255, 255);
  -webkit-box-shadow: 0 10px 20px rgba(4, 6, 6, 0.2);
          box-shadow: 0 10px 20px rgba(4, 6, 6, 0.2);
  -webkit-transform: translate(50%, -50%);
      -ms-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

.modal-contact label,
.modal-contact input,
.modal-contact textarea {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.button-close {
  position: absolute;
  top: 22px;
  right: 22px;

  width: 55px;
  height: 55px;

  color: #ffffff;

  background-color: #f0c52e;
  border: none;
  border-radius: 50%;
  opacity: 0.5;
}

.button-close::before,
.button-close::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 50%;

  width: 30px;
  height: 2px;

  background-color: rgb(255, 255, 255);
  -webkit-transform: translate(50%, -50%) rotate(44deg);
      -ms-transform: translate(50%, -50%) rotate(44deg);
          transform: translate(50%, -50%) rotate(44deg);
}

.button-close::after {
  -webkit-transform: translate(50%, -50%) rotate(-44deg);
      -ms-transform: translate(50%, -50%) rotate(-44deg);
          transform: translate(50%, -50%) rotate(-44deg);
}

.button-close:hover {
  opacity: 1;
}

.button-close:active {
  opacity: 0.3;
}

.contact-form .button {
  margin-top: 48px;
  margin-left: 29px;
}

.contact-form .button::before {
  top: 9px;
  right: -27px;
  left: -29px;
}

.modal-contact input {
  width: 360px;
  height: 50px;
  margin-top: 6px;
  padding-top: 0;
  padding-right: 17px;
  padding-left: 17px;
}

.modal-contact p {
  margin: 0;
}

.modal-contact textarea {
  width: 100%;
  height: 156px;
  margin-top: 7px;
  padding-top: 12px;
  padding-right: 16px;
  padding-bottom: 12px;
  padding-left: 16px;
}

.contact-form-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 33px;
}

.contact-form {
  width: 760px;
}

.contact-form label {
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: rgb(0, 0, 0);
}

.contact-form input,
.contact-form textarea {
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  color: rgb(70, 70, 70);
  letter-spacing: 0.3px;

  background-color: rgb(242, 242, 242);
  border: 3px solid rgba(240, 197, 46, 0);
}

.contact-form input::-webkit-input-placeholder,
.contact-form textarea::-webkit-input-placeholder {
  color: rgba(70, 70, 70, 0.4);
}

.contact-form input:-ms-input-placeholder,
.contact-form textarea:-ms-input-placeholder {
  color: rgba(70, 70, 70, 0.4);
}

.contact-form input::-ms-input-placeholder,
.contact-form textarea::-ms-input-placeholder {
  color: rgba(70, 70, 70, 0.4);
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: rgba(70, 70, 70, 0.4);
}

.contact-form input:hover,
.contact-form textarea:hover {
  background-color: #eaeaea;
}

.contact-form input:focus,
.contact-form textarea:focus {
  background-color: rgb(255, 255, 255);
  border: 3px solid rgba(240, 197, 46, 1);
  outline: none;
}

.contact-form input:invalid,
.contact-form textarea:invalid {
  background-color: #f6dada;
}
