@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Gilroy";

  src: local("Gilroy Light"),
  local("Gilroy-Light"),
  url("../fonts/gilroylight.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 800;
  font-family: "Gilroy";

  src: local("Gilroy Extra Bold"),
  local("Gilroy-ExtraBold"),
  url("../fonts/gilroyextrabold.woff2") format("woff2");
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  padding-top: 40px;

  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
  color: rgb(0, 0, 0);

  background-color: rgb(255, 255, 255);
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.button {
  position: relative;
  z-index: 2;

  display: inline-block;

  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", "Helvetica", sans-serif;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  letter-spacing: 3.66px;

  background-color: inherit;
  border: none;
}

.button:before {
  content: "";
  position: absolute;
  top: 8px;
  z-index: -1;

  height: 8px;

  background-color: rgb(240, 197, 46);
}

.button:active span {
  opacity: 0.3;
}

.button-close {
  color: #ffffff;

  background-color: #f0c52e;
  border: none;
  opacity: 0.5;
}

.button-close:hover {
  opacity: 1;
}

.button-close:active {
  opacity: 0.3;
}



.main-header-logo {
  display: block;
  width: 163px;
  height: 35px;
  margin-top: -20px;
  margin-bottom: 27px;
}

.main-navigation-wrapper {
  display: flex;
  justify-content: space-between;
}

.main-navigation {
  position: relative;

  padding-top: 1px;
  padding-right: 61px;
  padding-bottom: 1px;
  padding-left: 60px;

  background-color: rgba(240, 197, 46, 0.5);
}

.main-navigation::after {
  content: "";
  position: absolute;
  right: 460px;
  bottom: 67px;

  width: 100px;
  height: 7px;

  background-color: rgb(255, 255, 255);
}

.main-navigation ul {
  list-style: none;
}

.main-navigation a {
  color: rgb(0, 0, 0);
}

.catalog-page .main-header {
  margin-bottom: 44px;
}

.user-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 520px;
  margin: 0;
  padding: 0;
}

.user-info {
  width: 240px;
  margin-left: 17px;
}

.user-navigation-wrapper {
  display: flex;
  justify-content: space-between;
  width: 222px;
}

.user-navigation-wrapper li:last-child {
  margin-right: -1px;
}

.user-navigation a {
  padding-left: 30px;
}

.user-info-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 248px;
}

.user-info {
  width: 170px;
}

.logout {
  width: 50px;
}

.footer-info-wrapper .logout {
  margin-left: 21px;
}

.logout .logout-link {
  padding: 0;

  opacity: 0.3;
}

.user-info,
.compare,
.cart {
  position: relative;
}

.login-link::before,
.compare::before,
.cart::before {
  content: "";
  position: absolute;

  width: 14px;
  height: 14px;

  background-repeat: no-repeat;
  background-position: 0 0;
}

.login-link::before {
  top: 9px;
  left: 4px;

  background-image: url(../img/user.svg);
}

.compare::before {
  top: 6px;
  left: 10px;

  background-image: url(../img/compare.svg);
}

.cart::before {
  top: 4px;
  left: 7px;

  background-image: url(../img/cart.svg);
}

.site-navigation {
  position: relative;

  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 159px;
  padding: 0;
}

.site-navigation > li:hover .catalog-menu {
  display: flex;
}

.site-navigation-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 500px;
}

.site-navigation-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 273px;
}

.site-navigation-contacts {
  width: 220px;
  margin-right: -3px;

  text-align: right;
}

.site-navigation .site-navigation-catalog:hover {
  color: rgba(0, 0, 0, 0.6);

  opacity: 1;
}

.site-navigation .site-navigation-catalog:active {
  color: rgba(0, 0, 0, 0.3);

  opacity: 1;
}

.site-navigation-catalog {
  position: relative;

  width: 250px;
  margin-left: -1px;
}

.site-navigation-catalog::after {
  content: "";
  position: absolute;
  top: 4px;
  right: -32px;

  width: 20px;
  height: 20px;

  background-image: url(../img/plus.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.catalog-page .site-navigation {
  margin-bottom: 46px;
}

.search {
  position: relative;

  width: 440px;
  margin-top: -6px;
  margin-bottom: 26px;
  margin-left: 1px;
}

.search,
.user-navigation {
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.15px;
}

.search-field {
  box-sizing: border-box;
  width: 356px;
  height: 46px;
  padding-left: 38px;

  background-color: inherit;
  border: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0);;
}

.search::before {
  content: "";
  position: absolute;
  top: 14px;
  left: 2px;

  width: 20px;
  height: 20px;

  background-image: url(../img/search.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.search-field::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search-field:hover::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-field:focus {
  color: rgb(0, 0, 0);

  border-bottom: 2px solid #000000;
  outline: none;
}

.site-navigation > li > a,
.site-navigation-wrapper a {
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", "Helvetica", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}

.catalog-menu {
  position: absolute;
  top: 28px;
  z-index: 2;

  display: none;
  width: 100%;
  height: 139px;
  padding-top: 23px;

  background-color: rgb(248, 226, 150);
}

.catalog-menu ul {
  width: 200px;
  padding: 0;
}

.catalog-menu li {
  margin-bottom: 6px;
}

.catalog-menu ul:first-child {
  margin-right: 40px;
}

.search-button {
  position: absolute;
  top: -3px;
  left: 356px;

  margin-left: auto;
  padding: 7px 19px 8px 19px;

  font: inherit;
  color: transparent;

  background: inherit;
  border: 2px solid transparent;
}

.search-field:focus + .search-button {
  color: rgb(0, 0, 0);

  border: 2px solid rgb(0, 0, 0);
}

.search .search-button:hover {
  color: rgb(255, 255, 255);

  background-color: rgb(0, 0, 0);
}

.search-button:active span {
  opacity: 0.3;
}

.main-navigation a:hover,
.main-navigation a:hover::before,
.main-footer a:hover {
  opacity: 0.6;
}

.main-navigation a:active,
.main-footer a:active {
  opacity: 0.3;
}

.sliders h3 {
  font-weight: 800;
  font-size: 47px;
  line-height: 56px;
  letter-spacing: 0.17px;
}

.sliders p {
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.15px;
}

.advantages tr:first-child {
  font-weight: 400;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.36px;
}

.advantages tr:last-child {
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.13px;
}

.popular ul,
.services ul,
.companies ul {
  list-style: none;
}

.popular-items a {
  font-size: 18px;
  line-height: 24px;
  color: rgb(0, 0, 0);
  letter-spacing: 0.18px;
}

.services-description h3 {
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.21px;
}

.companies-list img {
  filter: grayscale(1) opacity(0.2);
}

.companies-list img:hover {
  filter: none;
}



.deliveries {
  margin: 0;
  margin-top: 66px;
  margin-bottom: 59px;
  padding-left: 35px;

  list-style: none;
  font-weight: 800;
  font-size: 16px;
  line-height: 40px;
  font-family: "Gilroy", "Arial", "Helvetica", sans-serif;
}

.deliveries li {
  position: relative;
}

.deliveries li::before {
  content: "";
  position: absolute;
  top: 16px;
  left: -35px;

  width: 4px;
  height: 4px;

  border: 2px solid rgb(229, 229, 229);
  border-radius: 50%;
}

.deliveries a {
  color: rgb(0, 0, 0);
}

.info-columns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 86px;
}

.info-columns p {
  margin: 0;
}

.info-columns h2 {
  margin: 0;
  margin-bottom: 43px;

  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  font-family: "Gilroy", "Arial", "Helvetica", sans-serif;
  letter-spacing: 0.71px;
}

.about-us {
  width: 465px;
  padding-top: 55px;
}

.about-us p {
  margin-bottom: 30px;
}

.about-us h2 {
  margin-left: -2px;
}

.about-us p:nth-of-type(1) {
  margin-top: 0;

  letter-spacing: 0.11px;
}

.about-us p:nth-of-type(2) {
  letter-spacing: -0.19px;
}

.about-us-title,
.contacts-title {
  position: relative;
}

.about-us-title::before,
.contacts-title::before {
  content: "";
  position: absolute;
  top: -52px;
  left: 2px;

  width: 80px;
  height: 7px;

  background-color: rgb(0, 0, 0);
}

.about-us .button {
  margin-left: 22px;
}

.about-us .button::before {
  right: -19px;
  left: -22px;;
}

.contacts {
  width: 563px;
  padding-top: 55px;
}

.contacts .button {
  margin-left: 43px;
}

.contacts .button::before {
  right: -37px;
  left: -40px;
}

.contacts-title::before {
  left: 3px;
}

.contacts p {
  margin-bottom: 39px;

  letter-spacing: 0.11px;
}

.contacts img {
  margin-bottom: 26px;
  margin-left: 3px;
}

.main-footer {
  width: 100%;
  padding-top: 65px;
  padding-bottom: 1px;

  color: rgb(255, 255, 255);

  background-color: rgb(70, 70, 70);
}

.footer-logo {
  display: block;
  width: 163px;
  height: 35px;
}

.footer-contacts {
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
}

.footer-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 15px;
}

.footer-middle {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 26px;
}

.adress {
  order: -1;
  width: 220px;
}

.phone {
  width: 217px;

  text-align: right;
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 140px;
  margin: 0;
  padding: 0;
}

.footer-social a {
  display: block;
  width: 32px;
  height: 32px;
  padding-top: 6px;

  background-repeat: no-repeat;
  background-position: center;
}

.social-fb {
  background-image: url(../img/fb.svg);
}

.social-instagram {
  background-image: url(../img/instagram.svg);
}

.social-twiter {
  background-image: url(../img/twitter.svg);
}

.footer-copyright a {
  display: inline-block;
  width: 27px;
  height: 35px;
}

.footer-copyright {
  width: 80px;
  margin-top: 21px;

  text-align: right;
}

.footer-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 43px;
}

.footer-bottom::before {
  content: "";

  width: 80px;
  height: 7px;

  background-color: rgb(255, 198, 0);
}

.site-footer-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 427px;
  margin: 0;
  padding: 0;

  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", "Helvetica", sans-serif;
  letter-spacing: 3.6px;
}

.site-footer-navigation li {
  margin-top: 5px;
}

.user-footer-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 488px;
  margin: 0;
  padding: 0;
}

.footer-info-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 240px;
}

.footer-info-wrapper li:last-child {
  width: 50px;
}

.footer-navigation-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 221px;
}

.footer-navigation-wrapper li:last-child {
  width: 58px;
}

.user-footer-navigation li {
  margin-top: -2px;
  padding-left: 30px;
}

.footer-info-wrapper .logout {
  padding-left: 0;
}

.user-footer-navigation a {
  position: relative;
}

.footer-login::before {
  content: "";
  position: absolute;
  top: 3px;
  left: -27px;

  width: 14px;
  height: 14px;

  background-color: rgb(70, 70, 70);
  background-image: url(../img/user-footer.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.footer-compare::before {
  content: "";
  position: absolute;
  top: 4px;
  left: -21px;

  width: 14px;
  height: 14px;

  background-color: rgb(70, 70, 70);
  background-image: url(../img/compare-footer.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.footer-cart::before {
  content: "";
  position: absolute;
  top: 3px;
  left: -23px;

  width: 14px;
  height: 14px;

  background-color: rgb(70, 70, 70);
  background-image: url(../img/cart-footer.svg);
  background-repeat: no-repeat;
  background-position: center;
}


.main-footer ul {
  list-style: none;
}

.site-footer-navigation a {
  font-size: 18px;
  line-height: 24px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  letter-spacing: 3.6px;
}

.user-footer-navigation a,
.footer-social a {
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  color: rgb(255, 255, 255);
  letter-spacing: 0.15px;

  opacity: 0.7;
}

.user-footer-naviegation a:hover {
  color: rgb(255, 255, 255);

  opacity: 1;
}

.user-footer-navigation a:active {
  color: rgb(255, 255, 255);

  opacity: 0.3;
}

.footer-social a {
  opacity: 0.3;
}

.footer-social a:hover {
  opacity: 0.6;
}

.footer-social a:active {
  opacity: 0.1;
}

.contact-form label {
  font: inherit;
  line-height: 24px;
}

.contact-form input,
.contact-form textarea {
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  color: rgb(70, 70, 70);

  background-color: rgb(242, 242, 242);
  border: 3px solid rgba(240, 197, 46, 0);
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: rgba(70, 70, 70, 0.4);
}

.contact-form input:hover,
.contact-form textarea:hover {
  background-color: #eaeaea;
}

.contact-form input:focus,
.contact-form textarea:focus {
  background-color: rgb(255, 255, 255);
  border: 3px solid rgba(240, 197, 46, 1);
  outline: none;
}

.contact-form input:invalid,
.contact-form textarea:invalid {
  background-color: #f6dada;
}

main h1 {
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.17px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 0;
  margin-bottom: 46px;
  padding-left: 58px;

  list-style: none;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
  letter-spacing: 0.14px;
}

.breadcrumbs li:not(:last-child) {
  position: relative;

  margin-right: 38px;
}

.breadcrumbs li:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 9px;

  width: 4px;
  height: 7px;

  background-image: url(../img/nav-arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.breadcrumbs-catalog::after {
  right: -22px;
}

.breadcrumbs-main::after {
  right: -20px;
}

.breadcrumbs a {
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active {
  color: rgba(0, 0, 0, 0.1);
}

.central-column {
  display: flex;
}

.products {
  display: flex;
  flex-wrap: wrap;
  width: 780px;
  margin: 0;
  padding: 0;
  padding-left: 72px;
}

.products li {
  margin-right: 40px;
}

.products li:nth-child(2n) {
  margin-right: 0;
}

.products li:nth-child(1),
.products li:nth-child(2) {
  margin-bottom: 45px;
}

.filters {
  width: 328px;

  background-color: rgb(239, 239, 239);
}

.filters h2,
.sort h2 {
  margin: 0;

  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", "Helvetica", sans-serif;
  text-transform: uppercase;
}

.filters fieldset {
  border: none;
}

.filters legend {
  position: relative;

  margin-bottom: 13px;
  margin-left: 7px;

  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", "Helvetica", sans-serif;
  letter-spacing: 0.18px;
}

.filters legend::before {
  content: "";
  position: absolute;
  top: -12px;
  left: 1px;

  width: 201px;
  height: 2px;

  background-color: black;
}

.filters label {
  line-height: 40px;
}

.filters ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

input[type="checkbox"]:hover,
input[type="radio"]:hover {
  opacity: 0.6;
}

input[type="checkbox"]:disabled,
input[type="radio"]:disabled {
  color: rgb(166, 166, 166);
}

.sort ul,
.catalog ul,
.pagination-list {
  list-style: none;
}

.sort a {
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  letter-spacing: 0.2px;
}

.sort a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.sort a:active {
  color: rgb(0, 0, 0);
}

.catalog h3 {
  width: 260px;
  margin: 0;
  padding: 0;

  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", "Helvetica", sans-serif;
  color: rgb(0, 0, 0);
  letter-spacing: 0.18px;
}

.product-price {
  width: 80px;
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", "Helvetica", sans-serif;
  text-align: right;
  color: rgb(70, 70, 70);
  letter-spacing: 0.16px;
}

.pagination-list a {
  font-size: 16px;
  line-height: 24px;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  letter-spacing: 0.91px;
}

.catalog-page h1 {
  margin-top: 0;
  margin-bottom: 24px;
  margin-left: 59px;

  font-family: "Gilroy", "Arial", "Helvetica", sans-serif;
  letter-spacing: 0.6px;
}

.catalog-page .main-navigation::after {
  z-index: -5;
}

.catalog-page .main-header-logo {
  margin-top: -17px;
  margin-bottom: 24px;
}

.catalog-page .main-header {
  margin-bottom: 37px;
}
.catalog-columns-wrapper {
  display: flex;
  justify-content: space-between;
}

.left-column,
.right-column {
  flex-grow: 1;
}

.left-column {
  background-color: rgb(238, 238, 238);
}

.central-column.container {
  padding-right: 0;
  padding-left: 0;
}

.filter-option {
  margin-bottom: 32px;
}

.bluetooth {
  margin-bottom: 27px;
}

.filters .button {
  margin-left: 55px;
}

.filters .button::before {
  top: 9px;
  right: -32px;
  left: -35px;
}

.button:hover::before {
  top: -10px;

  height: 40px;
}

.filter-option label {
  position: relative;

  display: block;
  margin-left: 45px;

  cursor: pointer;

  user-select: none;
}

.input-checkbox + label::before {
  content: "";
  position: absolute;
  top: 9px;
  left: -39px;

  width: 23px;
  height: 23px;

  background-color: rgb(238, 238, 238);
  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.input-checkbox:checked + label::before {
  width: 27px;

  background-image: url(../img/checkbox-on.svg);
}

.input-checkbox + label:hover::before,
.radio-checkbox + label:hover::before {
  opacity: 0.6;
}

.input-checkbox:disabled + label,
.input-checkbox:disabled + label::before,
.radio-checkbox:disabled + label,
.radio-checkbox:disabled + label::before {
  opacity: 0.25;
}


.input-checkbox + label:active::before,
.radio-checkbox + label:active::before {
  opacity: 1;
}

.radio-checkbox + label::before {
  content: "";
  position: absolute;
  top: 4px;
  left: -41px;

  width: 30px;
  height: 30px;

  background-color: rgb(238, 238, 238);
  background-image: url(../img/radio-off.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.radio-checkbox:checked + label::before {
  background-image: url(../img/radio-on.svg);
}

.products-item {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  width: 360px;
}

.sort {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 70px;
  padding-top: 18px;
  padding-bottom: 22px;

  background-color: rgb(235, 235, 235);
}

.filter {
  padding-left: 38px;
}

.sort h2 {
  width: 162px;
  margin: 0;
  margin-top: 5px;
  margin-left: 72px;

  letter-spacing: 3.6px;
}

.filters h2 {
  margin-bottom: 81px;
  padding-top: 23px;
  padding-bottom: 23px;
  padding-left: 60px;

  letter-spacing: 3.6px;

  background-color: rgb(219, 219, 219);
}

.sort ul {
  margin: 0;
  padding: 0;
}

.sort-type-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 470px;
}

.sort-type-list li {
  margin-right: 30px;
}

.sort-range-list {
  display: flex;
  flex-wrap: wrap;
  width: 50px;
}

.left-column div {
  min-height: 70px;

  background-color: rgb(219, 219, 219);
}

.right-column div {
  min-height: 70px;

  background-color: rgb(235, 235, 235);
}

.catalog {
  width: 832px;
}

.ascending,
.descending {
  position: relative;
}

.ascending::before,
.descending::before {
  content: "";
  position: absolute;

  width: 11px;
  height: 10px;

  background-repeat: no-repeat;
  background-position: center;
}

.ascending::before {
  top: 12px;
  left: 9px;

  background-image: url(../img/icon-up-dir.svg);
  opacity: 0.2;
}


.descending::before {
  top: 12px;
  left: 39px;

  background-image: url(../img/icon-down-dir.svg);
  opacity: 0.2;
}

.ascending:hover::before,
.descending:hover::before {
  opacity: 0.4;
}

.ascending:active::before,
.descending:active::before {
  opacity: 1;
}

.sort-type-list .sort-type-current {
  color: rgb(0, 0, 0);
}

.sort-range-current::before {
  opacity: 1;
}

.item-photo {
  width: 360px;
  height: 380px;
  margin-bottom: 32px;
}

.item-new {
  position: absolute;
  top: 29px;
  right: 27px;

  width: 56px;
  height: 56px;
  margin: 0;

  font-weight: 800;
  font-size: 14px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", "Helvetica", sans-serif;
  text-align: center;
  color: rgb(0, 0, 0, 0.2);
  text-transform: uppercase;
  letter-spacing: 0.25px;
  /* background-color: rgb(205, 57, 68, 0.1); */

  border: 2px solid rgb(0, 0, 0, 0.1);
  border-radius: 50%;
}

.item-new span {
  position: absolute;
  top: 16px;
  left: 13px;
}

.products-item .button {
  position: absolute;
  top: 179px;
  left: 117px;
}

.products-item .button::before {
  right: -36px;
  left: -36px;
}
